appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267521616/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560567968/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1729602393386/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
debtcollector @ file:///home/conda/feedstock_root/build_artifacts/debtcollector_1734502926266/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1733249551891/work
eclipse-sumo==1.20.0
Farama-Notifications==0.0.4
fasteners @ file:///home/conda/feedstock_root/build_artifacts/fasteners_1734943108928/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1738940380287/work
fsspec==2025.3.0
GDAL @ file:///Users/runner/miniforge3/conda-bld/libgdal-core_1741260649074/work/build/swig/python
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1735929639977/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1733462620396/work
gym @ file:///Users/runner/miniforge3/conda-bld/gym_1673317600434/work
gym-notices @ file:///home/conda/feedstock_root/build_artifacts/gym-notices_1734709658541/work
gymnasium==1.0.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
iso8601 @ file:///home/conda/feedstock_root/build_artifacts/iso8601_1733244881939/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459195356/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219755313/work
matplotlib==3.9.4
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
munkres==1.1.4
netaddr @ file:///home/conda/feedstock_root/build_artifacts/netaddr_1734502664977/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
numexpr @ file:///Users/runner/miniforge3/conda-bld/numexpr_1732612830036/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225581655/work/dist/numpy-1.26.4-cp39-cp39-macosx_10_9_x86_64.whl#sha256=92e1261eb25289fae8429db9951fee08c8ac1116bc17494ff0d57f74d115de46
oslo.concurrency @ file:///home/conda/feedstock_root/build_artifacts/oslo.concurrency_1737101536761/work
oslo.config @ file:///home/conda/feedstock_root/build_artifacts/oslo.config_1740153261750/work
oslo.i18n @ file:///home/conda/feedstock_root/build_artifacts/oslo.i18n_1734502504902/work
oslo.utils @ file:///home/conda/feedstock_root/build_artifacts/oslo.utils_1734502476112/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878426767/work
pbr @ file:///home/conda/feedstock_root/build_artifacts/pbr_1740384424725/work
pettingzoo==1.24.3
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929765590/work
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1731365450882/work/bazel-bin/python/dist/protobuf-5.28.3-cp39-abi3-macosx_10_13_x86_64.whl#sha256=e9a077f5f28345801073bc02d7e37b4ca4ebbdb54be71b47d0da6f27ed18f6d4
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1740663151072/work
py-cpuinfo @ file:///home/conda/feedstock_root/build_artifacts/py-cpuinfo_1733236359728/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyVirtualDisplay @ file:///Users/runner/miniforge3/conda-bld/pyvirtualdisplay_1667681435594/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454726946/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rfc3986 @ file:///home/conda/feedstock_root/build_artifacts/rfc3986_1733921695259/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1736496810767/work/dist/scikit_learn-1.6.1-cp39-cp39-macosx_10_13_x86_64.whl#sha256=64cd073cbe101fa1cfe79db02aeb4cc190e0d0d8c61fc6d1479e4f405a331dac
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1716470285601/work/dist/scipy-1.13.1-cp39-cp39-macosx_10_13_x86_64.whl#sha256=c9dd6de2b24ca5604e6e5444642497657db2f4e882c088c0d710addb7781a300
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
stable_baselines3==2.4.1
stevedore @ file:///home/conda/feedstock_root/build_artifacts/stevedore_1740152731829/work
sumo-rl==1.4.5
sumolib==1.22.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1736248176451/work
tables @ file:///Users/runner/miniforge3/conda-bld/pytables_1718950169549/work
tensorboardX @ file:///home/conda/feedstock_root/build_artifacts/tensorboardx_1734714805106/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
torch==2.2.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615926474/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traci==1.22.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692542187/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1736869495063/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
